@import 'styles/color';

.banner_topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 999px) {
    flex-direction: row;
    padding: 16px 0 0px;
  }
}

.banner_topContentText {
  width: 100%;
  max-width: 646px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 999px) {
    margin-top: 0;
  }
}

.banner_topContentImage {
  width: 100%;
  height: auto;

  @media screen and (min-width: 999px) {
    width: 100%;
    min-width: 609px !important;
    min-height: 403px !important;
  }
}

.banner_blogContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 769px) {
    flex-direction: row;
    width: 100%;
    padding: 80px 0 0px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
    width: 100%;
    padding: 60px 0 40px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 425px) {
    flex-direction: row;
    width: 100%;
    padding: 32px 0 16px;
    align-items: center;
    justify-content: center;
  }
}

.banner_blogContentText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  h1 {
    margin-top: 70px;
    text-align: center;

    @media screen and (min-width: 999px) {
      margin-top: 0;
    }
  }
}

.blog_container {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media screen and (max-width: 767px) {
    padding: 0px 16px;
  }
  @media screen and (min-width: 768px) {
    padding: 0px 40px;
  }
}

.blog_single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  img {
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    h3 {
      font-weight: 700;

      @media screen and (max-width: 727px) {
        margin-top: 16px;
      }
    }

    .readmore {
      height: 30px;
      p {
        font-weight: 700;
        gap: 4px;
        display: flex;
        align-items: center;
        width: fit-content;
        cursor: pointer;
      }
    }

    @media screen and (min-width: 999px) {
      max-width: 1050px;
    }
    @media screen and (max-width: 727px) {
      p {
        max-height: 120px;
        overflow: hidden;
      }
    }
    @media screen and (max-width: 1920px) {
      p {
        max-height: 140px;
        overflow: hidden;
      }
    }
  }

  @media screen and (min-width: 999px) {
    gap: 16px;
  }
}
