@import 'styles/color';

.pre {
  overflow: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -ms-pre-wrap;
}

p {
  .italic {
    font-weight: lighter;
  }
}

.banner_topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 999px) {
    flex-direction: row;
    padding: 150px 0 80px;
  }
}

.banner_topContentText {
  width: 100%;
  max-width: 646px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;

  h1 {
    margin-top: 70px;

    @media screen and (min-width: 768px) {
      margin-top: 100px;
    }

    @media screen and (min-width: 999px) {
      margin-top: 0;
    }
  }
}

.banner_topContentImage {
  width: 100%;
  height: auto;

  @media screen and (min-width: 999px) {
    width: 609px !important;
    height: 403px !important;
    width: 100%;
    min-width: 609px !important;
    min-height: 403px !important;
  }
}

.blog_container {
  background-color: #eaeaea;
  display: flex;
  align-items: center;

  h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 34px 0;

    @media screen and (max-width: 768px) {
      font-size: 34px;
      text-align: center;
    }
  }
}

.blog_wrapper {
  display: grid;
  gap: 34px;
  padding: 12px;

  @media screen and (min-width: 1440px) {
    padding: 0 !important;
  }

  @media screen and (min-width: 999px) {
    gap: 24px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog_single {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: $card-background;
  padding: 16px;
  border-radius: 20px;

  h3 {
    font-weight: 700;
    margin: 10px 0;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #4cabe6;
  }
}
