.pre {
  overflow: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -ms-pre-wrap;
}

p {
    .italic {
        font-weight: lighter;
    }
}

.banner_topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
  
  @media screen and (min-width: 999px) {
    padding: 150px 0 80px;
  }
}

.banner_topContentText {
  width: 100%;
  max-width: 646px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.banner_topContentImage {
  width: 100%;
  height: auto;

  @media screen and (min-width: 999px) {
    width: 609px !important;
    height: 403px !important;
    width: 100%;
    min-width: 609px !important;
    min-height: 403px !important;
  }
}