@import 'styles/color';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  position: fixed;
  top: 40;
  left: 0;
  background-color: transparent;
  width: 100%;


  @media (max-width: 640px) {
    padding-top: 0;
  }
}

.navbar_container {
  max-width: 1536px;
  width: 100%;
  background-color: transparent;
  opacity: 90%;
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-between;
  gap: 15%;
  align-items: center;
  height: auto;
  overflow: hidden;
  z-index: 999;

  @media screen and (max-width: 1536px) {
    max-width: 1312px;
  }
  @media screen and (max-width: 1312px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 900px) {
    padding: 16px;
  }
}

.app__navbarLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 120px;
  height: 30px;

  img {
    padding: 10px;
  }

  @media screen and (max-width: 450px) {
    margin: 0;
    width: 120px;
    height: 30px;
  }
}

.nav_content {
  display: flex;
  flex-direction: row;
  align-items: center;

  .app__navbarLinks {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 600px;
    gap: 40px;

    li {
      margin: 0 1rem;
      cursor: pointer;
      font-family: var(--font-family-openSans);
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 16px;

      a {
        &:hover {
          color: var(--primary-color);
        }
      }

      > a {
        color: var(--black-color);
        text-decoration: none;
        font-weight: 600;
        flex-direction: column;
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        transition:
          color 250ms ease-in-out,
          font-weight 250ms ease-in-out;

        &:hover {
          color: var(--primary-color);
          font-weight: 600;
          transition: all;
        }
        
        svg {
          display: inline-block; /* Ensures inline rotation works as expected */
          transition: transform 0.3s ease; /* Adjust the duration and timing function as needed */
        }
      }

      .active {
        color: lightgray;
        text-underline-offset: 10px;
        text-decoration: underline rgba(255 255 255);
      }
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  .nav_profile {
    display: flex;
    flex-direction: row;
    margin: 10px;

    svg {
      margin: 10px;
    }
  }
}



.navbar_menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        font-family: 'Poppins Nue', sans-serif;
        font-size: 25px;
        font-weight: normal;
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $navbar-background; /* Add your desired background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add your desired box shadow */

  @media screen and (min-width: 999px) {
    padding-bottom: 20px;
  }
}

/* Dropdown styles */

.nonActive {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.active {
  color: #007bff; /* or your active color */
}

.dropdownContent {
  position: absolute;
  background-color: #F9F9F9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  padding: 12px;
  margin-top: 15px;
  min-width: 260px;

  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #CBCBCB;
    cursor: auto;
  }

  a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f8f8f8;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdownActive {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

// /* Optional: Add some animation for a smoother appearance */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
