.pre {
  overflow: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -ms-pre-wrap;
}
