@import 'styles/color';

.footer__container {
  position: relative;
  overflow: hidden;
}

footer.footer_wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 32px;
  background-color: $footer-background;
  padding: 40px 16px;

  @media screen and (min-width: 1400px) {
    flex-direction: row;
    padding: 64px;
  }
}

.footer_content_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-top: 12px;
    max-width: 125px;
    width: 100%;
  }

  @media screen and (max-width: 1400px) {
    align-items: center;

    p {
      color: white;
      font-size: 14px;
      font-weight: 300;
      padding-top: 12px;
      max-width: 100%;
      width: 100%;
    }
  }
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 8px;

  @media screen and (min-width: 1400px) {
    -webkit-box-align: start;
    align-items: flex-start;
  }
}

.footer_content_certificate {
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
  .img_certificate1 {
    width: 73px;
    height: 73px;

    @media screen and (min-width: 1500px) {
      width: 120px;
      height: 100px;
    }
  }
  .img_certificate2 {
    width: 80px;
    height: 80px;

    @media screen and (min-width: 1500px) {
      width: 80%;
    }
  }
  .img_capterra {
    width: 80px;
    height: 80px;

    @media screen and (min-width: 1500px) {
      width: 80%;
    }
  }
}
.footer_content {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;

    svg {
      color: $icon-color;
      width: auto;
      height: 25px;
    }
  }
}

.footer_socialMedia {
  display: flex;
  column-gap: 30px;

  svg {
    width: 40px;
    height: 40px;
    color: $icon-color;
  }
}
