$color-primary: #3280AC;
$color-secondary: #e8f8f7;

$title-color: #3280AC;
$symbmol-color: #368AB9;
$text-color: #666666;

$topNavbar-background: #F5F6F6;
$navbar-background: #fff;
$topNavbar-color: black;