$color-primary: #1882D6;
$color-secondary: #e8f8f7;
$color-button_primary: #042566;

$title-color: #3280ac;
$symbmol-color: #368ab9;
$text-color: #666666;

$topNavbar-background: #f5f6f6;
$navbar-background: #fff;
$footer-background: #031239;
$topNavbar-color: black;

$icon-color: #fff;
$card-background: #fff;

$text-primary: #fff;

$hover-color: #1882D6;