@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 'Open Sans', sans-serif;
  --secondary-text: 'Helvetica';

  --primary-color: #1882d6;
  --secondary-color: #3280ac;
  --black-color: #000000;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --suva-gray2: rgba(134, 134, 139, 1);
  --suva-gray: rgba(136, 136, 136, 1);
  --eerie-black: rgba(29, 29, 31, 1);

  --font-family-openSans: '__Open_Sans_ffefd2',
    '__Open_Sans_Fallback_ffefd2' --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}


a {
  color: inherit;
  text-decoration: none;
  color: #1882d6;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

#_next {
  height: 100%;
}

.svg-star {
  width: 20px;
  height: 20px;
}

.title-not-found {
  color: darkgrey;
  text-align: center;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-abu {
  color: #cbcbcb;
}

.content1_shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.content1_shape .shape-fill {
  fill: #ffffff;
}
.content2_shape {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.content2_shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.content2_shape .shape-fill {
  fill: #e8f8f7;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
  .swiper-slide.swiper-slide-active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  h1, h2 {
    text-align: center;
  }

  .tab-hidden {
    display: none;
  }
}

/*======================
    404 page
=======================*/

.page_404 {
  /* padding:40px 0; */
  background: #fff;
  font-family: 'Arvo', serif;
  height: 100vh;
  display: grid;
  align-items: center;
}

.page_404 img, .img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("../public/assets/404.gif");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  margin-bottom: 50px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

@layer components {
  .heading-1 {
    @apply text-[40px] font-bold leading-[50px];
  }
  .heading-2 {
    @apply text-[30px] font-bold leading-[50px];
  }
  .heading-3 {
    @apply text-[20px] font-bold leading-[27.9px];
  }
  .body-1 {
    @apply text-[16px] font-semibold leading-[27.9px];
  }
  .body-2 {
    @apply text-[14px] font-semibold leading-[24px];
  }
  .body-3 {
    @apply text-[12px] font-semibold leading-[27.9px];
  }
  .caption-bold-1 {
    @apply text-[18px] font-bold leading-[27.9px];
  }
  .caption-bold-2 {
    @apply text-[16px] font-bold leading-[28px];
  }
  .caption-bold-3 {
    @apply text-[14px] font-bold leading-[28px];
  }
  .caption-semibold-1 {
    @apply text-[18px] font-semibold leading-[27.9px];
  }
  .caption-semibold-2 {
    @apply text-[16px] font-semibold leading-[28px];
  }
  .caption-semibold-3 {
    @apply text-[14px] font-semibold leading-[28px];
  }
  .caption-regular-1 {
    @apply text-[18px] font-normal leading-[27.9px];
  }
  .caption-regular-2 {
    @apply text-[16px] font-normal leading-[28px];
  }
  .caption-regular-3 {
    @apply text-[14px] font-normal leading-[28px];
  }
  .caption-regular-4 {
    @apply text-[12px] font-normal leading-[20px];
  }
  .caption-light-1 {
    @apply text-[18px] font-light leading-[27.9px];
  }
  .caption-light-2 {
    @apply text-[16px] font-light leading-[28px];
  }
  .caption-light-3 {
    @apply text-[14px] font-light leading-[28px];
  }
  .btn-normal {
    @apply caption-semibold-1 flex h-[44px] w-fit cursor-pointer items-center rounded-[40px] border-0 bg-primary-500 px-5 py-2 text-white hover:bg-primary-600 disabled:cursor-not-allowed disabled:bg-primary-400;
  }
  .btn-line-normal {
    @apply caption-semibold-1 flex h-[44px] w-fit cursor-pointer items-center rounded-[40px] border-[1px] border-primary-500 bg-transparent px-5 py-2 text-primary-500 hover:border-primary-600 hover:text-primary-600 disabled:cursor-not-allowed disabled:border-primary-400 disabled:text-primary-400;
  }
  .btn-line-normal-black {
    @apply caption-semibold-1 flex h-[44px] w-fit cursor-pointer items-center rounded-[40px] border-[1px] border-shade-100 bg-transparent px-5 py-2 text-shade-100 hover:border-primary-600 hover:text-primary-600 disabled:cursor-not-allowed disabled:border-primary-400 disabled:text-primary-400;
  }

  .btn-naked-normal {
    @apply caption-semibold-1 flex h-[44px] w-fit cursor-pointer items-center rounded-[40px] border-0 px-5 py-2 text-primary-500 hover:text-primary-600 disabled:cursor-not-allowed disabled:text-primary-400;
  }
  .btn-medium {
    @apply caption-semibold-3 flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-0 bg-primary-500 px-[16px] py-[6px] text-white hover:bg-primary-600 disabled:cursor-not-allowed disabled:bg-primary-400;
  }

  .btn-medium-white {
    @apply caption-semibold-3 flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-0 bg-white px-[16px] py-[6px] text-black hover:bg-black hover:text-white disabled:cursor-not-allowed disabled:bg-primary-400;
  }
  .btn-line-medium {
    @apply caption-semibold-3 flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-[1px] border-primary-500  px-[16px] py-[6px] text-primary-500 hover:border-primary-600 hover:text-primary-600  disabled:cursor-not-allowed disabled:border-primary-400 disabled:text-primary-400;
  }

  .btn-line-medium-white {
    @apply caption-semibold-3 flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-[1px] border-white  px-[16px] py-[6px] text-white hover:border-black hover:text-black  disabled:cursor-not-allowed disabled:border-primary-400 disabled:text-primary-400;
  }
  .btn-naked-medium {
    @apply caption-semibold-3 flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-0 bg-transparent px-[16px] py-[6px] text-primary-500 hover:text-primary-600 disabled:cursor-not-allowed disabled:text-primary-400;
  }
  .btn-small {
    @apply flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-0 bg-primary-500 px-[16px] py-[6px] text-[12px] font-semibold leading-[24px] text-white hover:bg-primary-600 disabled:cursor-not-allowed disabled:bg-primary-400;
  }
  .btn-line-small {
    @apply flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-[1px] border-primary-500 px-[16px] py-[6px] text-[12px] font-semibold leading-[24px] text-primary-500 hover:border-primary-600 hover:text-primary-600 disabled:cursor-not-allowed disabled:text-primary-400;
  }
  .btn-naked-small {
    @apply flex h-[36px] w-fit cursor-pointer items-center rounded-[40px] border-0 px-[16px] py-[6px] text-[12px] font-semibold leading-[24px] text-primary-500 hover:text-primary-600 disabled:cursor-not-allowed disabled:text-primary-400;
  }
  .legend-primary {
    @apply h-[24px] w-fit rounded-[20px] bg-primary-500 px-5 py-1 text-[12px] leading-4 text-white;
  }
  .legend-primary-light {
    @apply h-[24px] w-fit rounded-[20px] bg-primary-100 px-5 py-1 text-[12px] leading-4 text-primary-500;
  }
  .legend-primary-line {
    @apply h-[24px] w-fit rounded-[20px] border-[1px] border-primary-500 px-5 py-1 text-[12px] leading-4 text-primary-500;
  }
  .legend-secondary {
    @apply h-[24px] w-fit rounded-[20px] bg-secondary-500 px-5 py-1 text-[12px] leading-4 text-white;
  }
  .legend-secondary-light {
    @apply h-[24px] w-fit rounded-[20px] bg-secondary-100 px-5 py-1 text-[12px] leading-4 text-secondary-500;
  }
  .legend-secondary-line {
    @apply h-[24px] w-fit rounded-[20px] border-[1px] border-secondary-500 px-5 py-1 text-[12px] leading-4 text-secondary-500;
  }
  .legend-grayscale {
    @apply h-[24px] w-fit rounded-[20px] bg-grayscale-300 px-5 py-1 text-[12px] leading-4 text-black;
  }
  .legend-grayscale-light {
    @apply h-[24px] w-fit rounded-[20px] bg-grayscale-200 px-5 py-1 text-[12px] leading-4 text-black;
  }
  .legend-grayscale-line {
    @apply h-[24px] w-fit rounded-[20px] border-[1px] border-grayscale-300 px-5 py-1 text-[12px] leading-4 text-black;
  }
}
